<div>
  <mat-toolbar color="primary">
    <span>{{title}}</span>
  </mat-toolbar>

  <mat-card>
    <mat-form-field style="width:100%;">
      <textarea matInput placeholder="content from git file" [(ngModel)]="content" matTextareaAutosize matAutosizeMinRows="5"
                matAutosizeMaxRows="5"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="writeFileContent()">Save</button>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>
